.chart-container {
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

.expense-charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.btn-set{
  float: right !important;
}